*{
  margin:0;
  padding: 0;
  font-family: sans-serif;
  
}
body{
  background: linear-gradient(#FF0018,#FFA52C,#FFFF41,#008018,#0000F9,#86007D);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
